<section>
    <h1>hello.</h1>
    <p>Welcome to my domain. This is  primarily a playground website about me, which I update with whatever technology I want to play with. It has undergone several changes, from vanilla HTML+JS+CSS, ASP.Net MVC, Angular/TypeScript, Blazor, and React. Currently, you are viewing the Angular version of it.</p>
</section>
<section>
    <h1 style="font-style:italic;">computer engineer?</h1>
    <p>
        I refer to myself as a computer engineer. I spent years getting my degrees in <a href="https://en.wikipedia.org/wiki/Computer_engineering" target="_blank">Computer Engineering</a>. I am actually trained and educated, to deal with electronics, software, hardware, and everything in between — although I never really got these to good use, as I have been doing software engineering for most of my career. 
    </p>
    <p>
        I am especially skilled on front-end development, but I do consider myself full-stack. I would also like working on embedded systems if given the chance. Aside from IT, automotive and aerospace industries interests me. (I especially like my time at Ford.)
    </p>
</section>